.language-select {
  @include govuk-font($size: 16);
  @include govuk-clearfix;

  &__list {
    float: right;
    margin-top: 1em;
    text-align: right;

    &-item {
      display: inline-block;

      &:first-child {
        &::after {
          border-right: 0.09375em solid $govuk-text-colour;
          content: '';
          display: inline-block;
          height: 1em;
          position: relative;
          top: 0.1875em;
        }
      }

      a,
      [aria-current] {
        padding: 0.3125em;
      }
    }
  }
}
